body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f7fe;
    }
header {
    padding: 2%;
    text-align: center;
    color: darkblue;
    }
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100% ;
    padding: 0.5%;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
img{
    max-width: 20em;
    height: 25em;
    margin: 0% 0.5% 0% 0.5%;
    border-radius: 6%;
}